In [2]:
import os 
from glob import glob 
import pandas as pd 
from functools import reduce 
from xml.etree import ElementTree as et

In [3]:
xmlfiles = glob('C:\\Users\\Aditya\\Projects\\TY projects\\datapreparation\\data_images\\*.xml')
#data cleaning 
replace_text = lambda x: x.replace('\\','/')
xmlfiles = list(map(replace_text,xmlfiles))

In [4]:
xmlfiles

['C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_car.xml',
 'C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_computer.xml',
 'C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_eagle.xml',
 'C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_giraffe.xml',
 'C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_horses.xml',
 'C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_person.xml']

In [5]:
#read xml file and extract details 
tree = et.parse('C:/Users/Aditya/Projects/TY projects/datapreparation/data_images/sample_car.xml')
root = tree.getroot()

In [6]:
def extract_text(filename):
    tree = et.parse(filename)  # Use the provided filename
    root = tree.getroot()
    
    # Extract file details
    image_name = root.find('filename').text
    
    # Width and height
    size = root.find('size')
    width = size.find('width').text
    height = size.find('height').text
    parser = []
    # Extract annotations
    objs = root.findall('object')
    for obj in objs:
        name = obj.find('name').text
        bbox = obj.find('bndbox')
        xmin = bbox.find('xmin').text
        ymin = bbox.find('ymin').text
        xmax = bbox.find('xmax').text
        ymax = bbox.find('ymax').text
        parser.append([name,width,height,xmin,xmax,ymin,ymax ])
    
    return parser

In [7]:
parser_all = list(map(extract_text,xmlfiles))

In [8]:
data = reduce(lambda x,y : x+y,parser_all)

In [9]:
df = pd.DataFrame(data,columns = ['name','width','height','xmin','xmax','ymin','ymax'])

In [10]:
df.head()

       name width height xmin  xmax ymin  ymax
0       car  1920   1200   96  1834  128  1078
1  Computer   500    375   86   422   54   367
2     Egale   773    512  126   653   55   467
3    giraff   500    500  154   440   17   450
4     zebra   500    500  250   446  195   455

In [11]:
df.shape

(13, 7)

In [12]:
df['name'].value_counts()

person      5
horse       3
car         1
Computer    1
Egale       1
giraff      1
zebra       1
Name: name, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    13 non-null     object
 1   width   13 non-null     object
 2   height  13 non-null     object
 3   xmin    13 non-null     object
 4   xmax    13 non-null     object
 5   ymin    13 non-null     object
 6   ymax    13 non-null     object
dtypes: object(7)
memory usage: 856.0+ bytes

In [14]:
# Convert columns to numeric type
df['xmax'] = pd.to_numeric(df['xmax'])
df['xmin'] = pd.to_numeric(df['xmin'])
df['ymax'] = pd.to_numeric(df['ymax'])
df['ymin'] = pd.to_numeric(df['ymin'])
df['width'] = pd.to_numeric(df['width'])
df['height'] = pd.to_numeric(df['height'])

In [15]:
df['center_x'] = ((df['xmax']+df['xmin'])/2)/df['width']
df['center_y'] = ((df['ymax']+df['ymin'])/2)/df['height']
                  
df['w'] = (df['xmax'] - df['xmin']) / df['width']

df['h'] = (df['ymax'] - df['ymin']) / df['height']

In [16]:
df.head()

,name,width,height,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,car,1920,1200,96,1834,128,1078,0.502604,0.502500,0.905208,0.791667
1,Computer,500,375,86,422,54,367,0.508000,0.561333,0.672000,0.834667
2,Egale,773,512,126,653,55,467,0.503881,0.509766,0.681759,0.804688
3,giraff,500,500,154,440,17,450,0.594000,0.467000,0.572000,0.866000
4,zebra,500,500,250,446,195,455,0.696000,0.650000,0.392000,0.520000

In [17]:
#Split data into train and test

In [21]:
df['name']

0          car
1     Computer
2        Egale
3       giraff
4        zebra
5        horse
6        horse
7        horse
8       person
9       person
10      person
11      person
12      person
Name: name, dtype: object

In [20]:
print(df.columns)

Index(['name', 'width', 'height', 'xmin', 'xmax', 'ymin', 'ymax', 'center_x',
       'center_y', 'w', 'h'],
      dtype='object')

In [24]:


# Using shape attribute
print(df.shape[0])

13

In [25]:
image = df['name'].unique()

In [26]:
len(images())

NameError: name 'images' is not defined